@charset "UTF-8";

@font-face {
    font-family: 'Android';
    src: url(fontes/idroid.otf);
}

@font-face {
    font-family: 'Bebas';
    src: url(fontes/BebasNeue-Regular.otf);
}

@font-face {
    font-family: 'Star Wars';
    src: url(fontes/Starjedi.ttf);
}

body{
    background-color: #84E1AD;
    margin: 0px;
}


/* CABEÇALHO */

header{
    background-image: linear-gradient(to bottom, #3CD782, #288E55);
    max-height: 230px;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 5px black;
    padding: 1px ;
}

header > p{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.1em;
}

nav{
    background-color: #288E55;
    padding: 30px 0px 15px 30px;
    text-align: center;
}

nav > p{
    display: inline;
    margin: auto;
}

nav > p > a{
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #84E1AD;
    border-radius: 10px;
    padding: 10px;
    transition-duration: 0.3s;
}

a:hover{
    background-color: #84E1AD;
    color: #288E55;
}
    

/* CORPO PRINCIPAL */

main{
    margin: auto;
    max-width: 850px;
    min-width: 300px;
    background-color: white;
    padding: 0px;
    box-shadow: 0px 7px 25px 3px rgba(0, 0, 0, 0.445);
    border-radius: 0px 0px 10px 10px;
}

article{
    padding: 20px;
    margin-top: 0px;
}


/* MÍDIAS */

.imagem{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 100%;
}
/* Minha solução combinada com o que está em comentário no HTML
div#video{
    background-color: #288E55;
    padding: 15px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.301); 
}
*/
div#video{
    background-color: #1b5e38;
    margin: 0px auto 30px auto;
    padding: 0px;
    padding-bottom: 59%;
    position: relative;
    border-radius: 10px;
}

div#video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

#bugdroid{
    display: block;
    margin: auto;
    max-width: 350px;
}

/* TÍTULOS, PARÁGRAFOS, LINKS E PALAVRAS-CHAVE */

h1{ /* Título Principal da Página */
    font-family: 'Bebas';
    font-weight: normal;
    font-size: 3em;
    margin: 0.5em;
}

h2{ /* Título do Conteúdo */
    font-size: 2em;
    font-family: 'Android';
    color: #1b5e38;
}

h3{ /* Subtítulos */
    background-image: linear-gradient(45deg, #84E1AD, white);
    padding: 5px;
    font-family: 'Android';
    color: #1b5e38;
}

h4{ /* Título do Periférico */
    margin: 0px 0px 10px 0px; /* Também é possível colocar margem negativa para se adaptar ao tamanho da caixa */
    padding: 15px;
    border-radius: 10px 10px 0px 0px;
    background-color: #288E55;
    color: white;
    font-size: 1.2em;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify ;
    font-size: 1em;
    line-height: 2em;
    margin: 15px 0px;
}

main strong{ /* Significa o strong dentro do main */
    color: #288E55;
    font-weight: bolder;
}

.link{ /* Ou pode ser também um [ main a ], todos os a (links) dentro do main */
    color: #ffffff;
    text-decoration: none;
    font-weight: bolder;
    background-color: #3CD782;
    border-radius: 5px;
    padding: 2px;
}

.link::after{ /* Todo link externo terá adicionado o que está no content */
    content: url(imagens/link.png);
}


/* PERIFÉRICO */

aside{
    background-color: #c3e4d0;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.301);
}

aside > article{
    padding: 5px 10px 10px 10px;
}

.tabela{
    display: inline-block;
    margin-right: 190px;
    list-style-type: armenian;
}

ul{
    list-style-image: url(imagens/check15.png);
    columns: 2;
    list-style-position: inside;
    padding: 8px;
}

/* RODAPÉ */

footer{
    margin: 20px 0px 0px 0px;
    background-color: #1b5e38;
    padding: 5px;
}

footer > p{
    text-align: center;
    font-family: 'Star Wars';
}